<html>

<head>

</head>

<body>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <div class="header">
        <h1></h1>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="/background">Background</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Data
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/aboutdata">About Dataset</a><br>
                        <a class="dropdown-item" href="/datavariables">Data Variables</a><br>
                        <a class="dropdown-item" href="/datares">Data Restrictions and FAIRness</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analysis
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/summarystatistics">Summary Statistics</a><br>
                        <a class="dropdown-item" href="/univariateanalysis">Univariate Analysis</a><br>
                        <a class="dropdown-item" href="/bivariateanalysis">Bivariate Analysis</a><br>
                        <a class="dropdown-item" href="/orrelationanalysis">Correlation</a><br>
                        <a class="dropdown-item" href="/predictiveanalysis">Predictive Analysis</a><br>
                    </div>
                </li>
                <li><a href="/riskcalculator">Risk Calculator</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
    <h1>About Dataset</h1>
    <p>For the project I decided to work on a cleaned and consolidated dataset created from the BRFSS 2015 dataset available on Kaggle as 
            “Diabetes Health Indictor BRFSS2015 dataset”. The dataset contains 70,692 survey responses and has an equal 50-50 split of 
            respondents with no diabetes and with either prediabetes or diabetes. It is a. The target variable has two classes: 0 is for no 
            diabetes 1 is for prediabetes or diabetes. In total the dataset has 22 feature variables including diabetes variable. </li>
    </p>
    <br>
    <br><br>
    Download the dataset from <a href="https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset">here</a>

</div>
 <div class="footer" id="footer">
    <h4></h4>
 </div>

</body>

<style>
    li{
        font-size: 20px;
    }
    
</style>
</html>