<html>

<head>

</head>

<body>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <div class="header">
        <h1></h1>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="/background">Background</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Data
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/aboutdata">About Dataset</a><br>
                        <a class="dropdown-item" href="/datavariables">Data Variables</a><br>
                        <a class="dropdown-item" href="/datares">Data Restrictions and FAIRness</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analysis
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/summarystatistics">Summary Statistics</a><br>
                        <a class="dropdown-item" href="/univariateanalysis">Univariate Analysis</a><br>
                        <a class="dropdown-item" href="/bivariateanalysis">Bivariate Analysis</a><br>
                        <a class="dropdown-item" href="/correlationanalysis">Correlation</a><br>
                        <a class="dropdown-item" href="/predictiveanalysis">Predictive Analysis</a><br>
                    </div>
                </li>
                <li><a href="/riskcalculator">Risk Calculator</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
    <h1 class="text-center">Diabetes Overview</h1>
    <p class="text-justify">
    Diabetes is a chronic, metabolic disease characterized by elevated levels of blood glucose (or blood sugar), which
    leads over time to serious damage to the heart, blood vessels, eyes, kidneys and nerves. The most common is type 2
    diabetes, usually in adults, which occurs when the body becomes resistant to insulin or doesn't make enough insulin.
    In the past 3 decades the prevalence of type 2 diabetes has risen dramatically in countries of all income levels.
    </p>
    <br>
    <img src="/static/img/background2.png" width="900" height="600" class="center-block">
    <br>
    <br>
    <br>
    <img src="/static/img/background3.png" width="900" height="600" class="center-block">


    <h2 class="text-center">Symptoms </h2>
    <br>
    <p class="text-justify">
    Symptoms of type 1 diabetes include the need to urinate often, thirst, constant hunger, weight loss, vision changes
    and fatigue. These symptoms may occur suddenly. Symptoms for type 2 diabetes are generally similar to those of type
    1 diabetes but are often less marked. As a result, the disease may be diagnosed several years after onset, after
    complications have already arisen. For this reason, it is important to be aware of risk factors.
    </p>
    <br>
    <img src="/static/img/background1.png" width="900" height="600" class="center-block">
    <h2 class="text-center">Prevention</h2>
    <p class="text-justify">
    Lifestyle measures have been shown to be effective in preventing or delaying the onset of type 2 diabetes. To help
    prevent type 2 diabetes and its complications, people should:
    <ul>
        <li>achieve and maintain a healthy body weight</li>
        <li>be physically active – doing at least 30 minutes of regular, moderate-intensity activity on most days. More
            activity is required for weight control</li>
        <li>eat a healthy diet, avoiding sugar and saturated fats</li>
        <li>avoid tobacco use – smoking increases the risk of diabetes and cardiovascular disease</li>
    </ul>
    </p>
</div>
<div class="footer">
    <h4></h4>
</div>
   
</body>

<style>
    p{
        font-size: 20px;
    }

    li{
        font-size: 20px;
    }
    h1{
        font-size: 45px;
    }
</style>
</html>