<html>

<head>

</head>

<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <div class="header">
        <h1></h1>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
            
            <ul class="nav navbar-nav">
                <li><a href="/background">Background</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Data
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/aboutdata">About Dataset</a><br>
                        <a class="dropdown-item" href="/datavariables">Data Variables</a><br>
                        <a class="dropdown-item" href="/datares">Data Restrictions and FAIRness</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analysis
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/summarystatistics">Summary Statistics</a><br>
                        <a class="dropdown-item" href="/univariateanalysis">Univariate Analysis</a><br>
                        <a class="dropdown-item" href="/bivariateanalysis">Bivariate Analysis</a><br>
                        <a class="dropdown-item" href="/correlationanalysis">Correlation</a><br>
                        <a class="dropdown-item" href="/predictiveanalysis">Predictive Analysis</a><br>
                    </div>
                </li>
                <li><a href="/riskcalculator">Risk Calculator</a></li>
            </ul>
        </div>
    </nav>
    <ul>
<h1>Data Variables</h1>
    
<li>Diabetes_binary : 0 = no diabetes 1 = prediabetes/ diabetes</li>
<li>HighBP : 0 = no high BP 1 = high BP</li>
<li>HighChol : 0 = no high cholesterol 1 = high cholesterol</li>
<li>CholCheck : 0 = no cholesterol check in 5 years 1 = yes cholesterol check in 5 years</li>
<li>BMI : Continuous value in kg/m2</li>
<li>Smoker : Have you smoked at least 100 cigarettes in your entire life? [Note: 5 packs = 100 cigarettes] 0 = no 1 = yes</li>
<li>Stroke : (Ever told) you had a stroke. 0 = no 1 = yes</li>
<li>HeartDiseaseAttack : Coronary heart disease (CHD) or myocardial infarction (MI) 0 = no 1 = yes</li>
<li>PhyActivity : Physical activity in past 30 days - not including job 0 = no 1 = yes</li>
<li>Fruits : Consume Fruit 1 or more times per day 0 = no 1 = yes</li>
<li>Veggies :  Consume Vegetables 1 or more times per day 0 = no 1 = yes        </li>
<li>HvyAlcoholConsump : (adult men >=14 drinks per week and adult women>=7 drinks per week) 0 = no 1 = yes</li>
<li>AnyHealthcare : Have any kind of health care coverage, including health insurance, prepaid plans such as HMO, etc. 0 = no 1 = yes</li>
<li>NoDocbcCost  : Was there a time in the past 12 months when you needed to see a doctor but could not because of cost? 0 = no 1 = yes</li>
<li>GenHlth : Would you say that in general your health is: scale 1-5 1 = excellent 2 = very good 3 = good 4 = fair 5 = poor</li>
<li>MentHlth : Days of poor mental health scale 1-30 days</li>
<li>PhysHlth : Physical illness or injury days in past 30 days scale 1-30</li>
<li>DiffWalk : Do you have serious difficulty walking or climbing stairs? 0 = no 1 = yes  </li>   
<li>Sex :  0 = female 1 = male  </li>
<li>Age :  13-level age category:Fourteen-level age category: 1 = 18-24, 2 = 25-29, 3 = 30-34, 4 = 35-39, 5 = 40-44, 6 = 45-49, 7 = 50-54, 8 = 55-59, 9 = 60-64, 10 = 65-69, 11 = 70-74, 12 = 75-79, 13 = 80+</li>
<li>Education : Education level scale 1-6 1 = Never attended school or only kindergarten 2 = elementary etc.</li>
<li>Income : Income scale scale 1-8 1 = less than $10,000 5 = less than, $35,000 8 = $75,000 or more</li>
</ul>

    </body>
    </html>