.title {
    text-align: center;
  }

.paragraph {
    text-align: justify;
    margin-right: 150px;
    margin-left: 80px;
  }

.form-group{
    margin-right: 150px;
    margin-left: 80px;
}

.container{  
    text-align: center;  
    width: 100px;  
    height: 100px;  
    padding-top: 50px;  
    margin-left: 500px;
}  


